body {padding: 2em; margin: 0; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 0.7em;}
h1 {margin: 0 0 0.5em 0; font-size: 2em;}
h2 {margin: 0 0 0.5em 0; font-size: 2.5em;}
h3 {margin: 1em 0 0.5em 0; font-size: 1.5em;}
h4 {margin: 1.5em 0 0.5em 0; font-size: 1em;}
p {line-height: 1.8em; margin: 0 0 5px 0;}

/* sidlayout */
#layout {float: left; width: 900px;	background: #a8c1c6; border-top: 1px solid #666666;	border-right: 1px solid #666666; border-left: 1px solid #666666;}
#sidhuvud {padding: 10px; margin: 0;}
#kolumncontainer{float: left; width: 900px;	background: #ffcc66;background: url("https://pixabay.com/get/53ca11a1e3e2b8b48a04/1446125219/green-214134_1920.jpg?direct") repeat-y;}

#kolumn1 {float: left; width: 580px; padding: 10px;	background: #ffffff;}
#kolumn2 {float: left; width: 280px; padding: 10px;}
#sidfot {clear: both; padding: 10px; background: #a8c1c6; border-bottom: 1px solid #666666;}

/* meny */
#menycontainer{border-bottom: 1px solid #666666;}
#menycontainer ul{padding: 0.5em 0; margin: 0;}
#menycontainer li{margin-right: 0.2em; display: inline; list-style: none;}
#menycontainer li a{text-decoration: none; padding: 0.5em 1em; margin-left: 0; background: #dbdbdb; 	font-weight: bold;}
#menycontainer a:link{color: #000000;}
#menycontainer a:visited{color: #000000;}
#menycontainer a:hover{background: #ffffcc;}
#menycontainer a#current{background: #ffffff; border-bottom: 1px solid #ffffff; color: #000000;}
