body {
  background-color: #007fff;
  text-align: center;
}
h1 {
  text-align: center;

}

h2 {
    margin: 0 auto;
    color: red;
    text-align: center;
}
h3 {
    margin: 0 auto;
    color: red;
    text-align: center;
}



main{
      display: flex;
      flex-wrap: wrap;
    }

.place-box{
  background-size: cover;
  width : 300px;
  height: 370px;
  overflow: hidden;
  cursor: pointer;
  }


.content {
    text-align: center;
    width: 200px;
    height: 270px;
    background-color: rgba(0, 0, 0, 0.5);
    transform: translateY(86%);
    transition: 0.4s;
}
.place-box:hover .content {
    background-color: rgba(0, 0, 0, 0.7);
    transform: translateY(82%);
}
.active .content {
    transform: translateY(0) !important;
    background-color: rgba(0, 0, 0, 0.6) !important;
}
.logo1{
  margin-left:20px;
  background-image:url(http://i.imgur.com/LEbNkdn.jpg);
 
}
.logo2{
background-image:url(http://i.imgur.com/rd3eEPD.jpg);
}
.logo3{
   
    background-image:url(http://i.imgur.com/jHvTm.jpg);
}
.logo4{
  
    background-image:url(http://i.imgur.com/w5mixdm.jpg);
}
.logo5{
    margin-left:20px;
    background-image:url(http://i.imgur.com/gNUHTO3.jpg);
}
.logo6{
   
    background-image:url(http://i.imgur.com/yvK2NE5.jpg);
}
.logo7{
  
    background-image:url(http://i.imgur.com/kEYSXOK.jpg);
}
.logo8{
    background-image:url(http://i.imgur.com/ZfHp5MF.jpg);
}
